<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= otra %></h1>
    <p>Nombre: <%= firstname %></p>
    <p>Apellido:<%= lastname %></p>
    <p>Cedula:<%= id %></p>
    <p>Seccion:<%= sec %></p>
    
  </body>
</html>
